<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task Management</title>
    </head>
    <body>
        <h1>Task Management API</h1>

        <p>Di bawah ini adalah list endpoint yang bisa kalian akses</p>
        <table>
            <tr>
                <th>Tujuan</th>
                <th>Method</th>
                <th>Route</th>
            </tr>
            <tr>
                <td>Registrasi</td>
                <td>POST</td>
                <td>/api/users</td>
            </tr>
            <tr>
                <td>Edit Task from User</td>
                <td>PUT</td>
                <td>/api/tasks/editUser/:id</td>
                <td>{status:(start/in progress/need review/done)</td>
            </tr>
            <tr>
                <td>Edit Task from Admin</td>
                <td>PUT</td>
                <td>/api/tasks/editAdmin:id</td>
                <td>{assignment:'task', assignee(id) , status:'in progress'</td>
            </tr>
            <tr>
                <td>getAllTask from All User(optional)</td>
                <td>GET</td>
                <td>/api/tasks/all</td>
            </tr>
        </table>
    </body>
</html>
