<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task Management</title>
    </head>
    <body>
        <h1>Task Management API</h1>

        <p>Di bawah ini adalah list endpoint yang bisa kalian akses</p>
        <table>
            <tr>
                <th>Tujuan</th>
                <th>Method</th>
                <th>Route</th>
            </tr>
            <tr>
                <td>Registrasi</td>
                <td>POST</td>
                <td>/api/users</td>
            </tr>
            <tr>
                <td>Get All User Admin Page</td>
                <td>GET</td>
                <td>/api/users/getAllUserAdminPage</td>
            </tr>
        </table>
    </body>
</html>
