<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task Management</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <h1>Task Management API</h1>

            <p>Di bawah ini adalah list endpoint yang bisa kalian akses</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tujuan</th>
                        <th scope="col">Method</th>
                        <th scope="col">Route</th>
                        <th scope="col">Req format example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Registrasi (User Page)</td>
                        <td>POST</td>
                        <td>/api/users</td>
                        <td>
                            {name: "sarah", email: "sarah@gmail.com", password:
                            "12345678"}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Get All Users (Admin Page)</td>
                        <td>GET</td>
                        <td>/api/users/getAllUserAdminPage</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Login (User and Admin Page)</td>
                        <td>POST</td>
                        <td>/api/users/login</td>
                        <td>
                            {email: "sarah@gmail.com", password: "12345678"}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Get All Tasks of Each User ( User Page)</td>
                        <td>GET</td>
                        <td>/api/users/:id/tasks</td>
                        <td>
                            /api/users/123456/tasks
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Create Task ( Admin Page)</td>
                        <td>POST</td>
                        <td>/api/tasks</td>
                        <td>
                            {assignment: 'Buat proposal', assignee:
                            '5f1589ddb81f2a37dc6b2df7'}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Delete Task ( Admin Page)</td>
                        <td>DELETE</td>
                        <td>/api/tasks/:id</td>
                        <td>
                            /api/task/12345678
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Edit Task from User</td>
                        <td>PUT</td>
                        <td>/api/tasks/editUser/:id</td>
                        <td>{status:(start/in progress/need review/done)</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Edit Task from Admin</td>
                        <td>PUT</td>
                        <td>/api/tasks/editAdmin:id</td>
                        <td>
                            {assignment:'task', assignee(id) , status:'in
                            progress'
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Get all users tasks (Admin Page)</td>
                        <td>GET</td>
                        <td>/api/tasks</td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Delete User (Admin Page)</td>
                        <td>DELETE</td>
                        <td>/api/users/:id</td>
                        <td>
                            {api/users/123}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Filter User Name (Admin Page)</td>
                        <td>GET</td>
                        <td>/api/users/search/</td>
                        <td>
                            {api/users/search/?user=abc}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Filter Task Name (Admin Page)</td>
                        <td>GET</td>
                        <td>/api/tasks/search/</td>
                        <td>
                            {api/tasks/search/?task=abc}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
    ></script>
</html>
